#btnDiv {
    text-align: center;
    margin: 10vh;
}

.col-md-10 {
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 20%;
    margin-bottom: 10px;
}

.popup-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    z-index: 1;
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 10px;
}

    .popup-modal span {
        float: right;
        cursor: pointer;
    }

.overlay {
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
